
<div class="form-container">
  <form [formGroup]="assignmentFormGroup">
    <mat-horizontal-stepper [linear]="false" #stepper formArrayName="formArray">
      <mat-step [formGroupName]="0" [stepControl]="formArray?.get([0])">
          <ng-template matStepLabel>Devoir</ng-template>
          <mat-form-field>
            <input matInput formControlName="nomDevoirCtrl" placeholder="Titre" required [(ngModel)]="nom" name="nom">
          </mat-form-field>
          <br>
          <div style="display: flex; flex-direction: row; justify-content: space-around;">
            <mat-form-field style="width: 45%;">
              <textarea class="description" matInput formControlName="descriptionDevoirCtrl" placeholder="Description" required [(ngModel)]="description" name="description"></textarea>
            </mat-form-field>
            <mat-form-field style="width: 45%;">
              <textarea class="description" matInput formControlName="remarqueCtrl" placeholder="Remarque" required [(ngModel)]="remarque" name="remarque"></textarea>
            </mat-form-field>
          </div>
          <br>
          <div style="display: flex; flex-direction: row; justify-content: space-around;">
            <mat-form-field style="width: 65%;">
              <mat-label>Matiere</mat-label>
              <mat-select formControlName="matiereCtrl" [(ngModel)]="profSelectionne" name="matiere">
                <mat-option *ngFor="let prof of professeurs" [value]="prof">
                  {{ prof.matiere.nom }} 
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field style="width: 25%;">
              <mat-label>Note</mat-label>
              <input matInput type="number" min="0" max="20" formControlName="noteCtrl" [(ngModel)]="note" name="note" />
              <span matSuffix>/20</span>
            </mat-form-field>
          </div>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Choisissez une date</mat-label>
            <input formControlName="dateCtrl" matInput [matDatepicker]="picker" required [(ngModel)]="dateDeRendu" name="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext (click)="showPreview()">Suivant</button>
          </div>
      </mat-step>
      <mat-step [formGroupName]="1" [stepControl]="formArray?.get([1])">
        <ng-template matStepLabel>Eleves</ng-template>
        <div class="eleve-preview">
          <div class="eleve-img">
            <img title="{{ eleveSelectionne?.nom }} {{ eleveSelectionne?.prenom }}" 
                                  src="{{ eleveSelectionne?.image }}" />
          </div>
          <div class="eleve-info">
            <span>{{ eleveSelectionne?.nom }} {{ eleveSelectionne?.prenom }}</span>
          </div>
        </div>
        <mat-form-field>
          <input matInput formControlName="searchCtrl" placeholder="Recherche" (keyup)="onSearch()" [(ngModel)]="eleveRecherche" name="recherche">
        </mat-form-field>
        
        <mat-selection-list class="scrollable" #eleves [multiple]="false">
          <mat-list-option *ngFor="let item of listeElevesAffiche" [value]='item'  [selected]="item.checked" (click)="selectEleve(item)">
            {{ item.eleve.nom }} {{ item.eleve.prenom }}
          </mat-list-option>
        </mat-selection-list>
        
        <p>
          Options selected: {{ eleveSelectionne?.nom }}
        </p>
        
        <div>
          <button mat-button matStepperPrevious>Precèdant</button>
          <button mat-button matStepperNext (click)="showPreview()">Suivant</button>
        </div>
      </mat-step>
      <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <div class="assignment-preview">
            <app-assignment-detail (assignment)="assignment" [withAction]="false"></app-assignment-detail>
          </div>
          <p>Cliquez sur <b>Valider</b> pour enregistrer vos changements.</p>
          <div>
            <button mat-button matStepperPrevious>Precèdant</button>
            <button mat-button (click)="onSubmit($event)">Valider</button>
          </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
    
</div>

