<!-- <button mat-raised-button (click)="openDialog()">Pick one</button> -->
<div class="container">
  <div class="list-container">
      <div class="list-header">
        <h4>A rendre</h4>  
        <div class="list-action">
          <a [routerLink]="'/assignments/add'" class="action-item"><mat-icon aria-hidden="false" aria-label="add icon">add</mat-icon></a>
        </div>  
      </div>
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="assignmentsNonRendu"
        [cdkDropListConnectedTo]="[doneList]"
        class="assignment-list"
        (cdkDropListDropped)="dropVersNonRendu($event)">
        <!-- <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div> -->
        <cdk-virtual-scroll-viewport #scrollerNonRendu itemSize="75" class="assignment-viewport">
          <mat-list *cdkVirtualFor="let a of assignmentsNonRendu" cdkDrag>
            <!-- <mat-list-item  class="assignment-item"> -->
                <a routerLink="/assignments/detail/{{ a.id }}" style="text-decoration: none;">
                    <app-assignment-card class="assignment-item" [assignment]="a"></app-assignment-card>
                </a>
            <!-- </mat-list-item> -->
          </mat-list>
        </cdk-virtual-scroll-viewport>
      </div>
  </div>
    
  <div class="list-container">
      <div class="list-header">
        <h4>Rendu</h4>  
        <div class="list-action">
        </div>  
      </div>
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="assignmentsRendu"
        [cdkDropListConnectedTo]="[todoList]"
        class="assignment-list"
        (cdkDropListDropped)="dropVersRendu($event)">
        <!-- <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div> -->
        <cdk-virtual-scroll-viewport #scrollerRendu itemSize="75" class="assignment-viewport">
          <mat-list *cdkVirtualFor="let a of assignmentsRendu" cdkDrag>
            <!-- <mat-list-item  class="assignment-item"> -->
                <a routerLink="/assignments/detail/{{ a.id }}" style="text-decoration: none;">
                    <app-assignment-card class="assignment-item" [assignment]="a"></app-assignment-card>
                </a>
            <!-- </mat-list-item> -->
          </mat-list>
        </cdk-virtual-scroll-viewport>
      </div>
  </div>
</div>
