<!-- <button mat-raised-button (click)="openDialog()">Pick one</button> -->
<div class="container">
  <div class="list-container">
      <div class="list-header">
        <h4>A rendre ({{ assignmentsNonRendu.length || 0 }}/{{ totalDocsNonRendu || 0 }})</h4>  
        <form class="search-form">
          <mat-form-field>
            <mat-label>Recherche</mat-label>
            <input (keyup)="onSearchAssignmentNonRendu()" matInput name="searchNonRendu" [(ngModel)]="searchNonRendu"/>
          </mat-form-field>
        </form>
        <div class="list-action">
          <a [routerLink]="'/assignments/add'" class="action-item"><mat-icon aria-hidden="false" aria-label="add icon">add</mat-icon></a>
        </div>  
      </div>
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="assignmentsNonRendu"
        [cdkDropListConnectedTo]="[doneList]"
        class="assignment-list"
        (cdkDropListDropped)="dropVersNonRendu($event)">
        <!-- <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div> -->
        <cdk-virtual-scroll-viewport *ngIf="!showNonRenduLoader" #scrollerNonRendu itemSize="75" class="assignment-viewport">
          <mat-list *cdkVirtualFor="let a of assignmentsNonRendu" cdkDrag>
            <!-- <mat-list-item  class="assignment-item"> -->
                <a routerLink="/assignments/detail/{{ a.id }}" style="text-decoration: none;">
                    <app-assignment-card class="assignment-item" [assignment]="a"></app-assignment-card>
                </a>
            <!-- </mat-list-item> -->
          </mat-list>
        </cdk-virtual-scroll-viewport>
        <div class="asssignment-loader" *ngIf="showNonRenduLoader">
          <mat-spinner [diameter]=70></mat-spinner>
        </div>
      </div>
  </div>
    
  <div class="list-container">
      <div class="list-header">
        <h4>Rendu ({{ assignmentsRendu.length || 0 }}/{{ totalDocsRendu || 0 }})</h4>  
        <form class="search-form">
          <mat-form-field>
            <mat-label>Recherche</mat-label>
            <input (keyup)="onSearchAssignmentRendu()" matInput name="searchRendu" [(ngModel)]="searchRendu"/>
          </mat-form-field>
        </form>
        <div class="list-action">
        </div>  
      </div>
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="assignmentsRendu"
        [cdkDropListConnectedTo]="[todoList]"
        class="assignment-list"
        (cdkDropListDropped)="dropVersRendu($event)">
        <!-- <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div> -->
        <cdk-virtual-scroll-viewport *ngIf="!showRenduLoader" #scrollerRendu itemSize="75" class="assignment-viewport">
          <mat-list *cdkVirtualFor="let a of assignmentsRendu" cdkDrag>
            <!-- <mat-list-item  class="assignment-item"> -->
                <a routerLink="/assignments/detail/{{ a.id }}" style="text-decoration: none;">
                    <app-assignment-card class="assignment-item" [assignment]="a"></app-assignment-card>
                </a>
            <!-- </mat-list-item> -->
          </mat-list>
        </cdk-virtual-scroll-viewport>
        <div class="asssignment-loader" *ngIf="showRenduLoader">
          <mat-spinner [diameter]=70></mat-spinner>
        </div>
      </div>
  </div>
</div>
