.container {
  margin: 30px;
  /* font-family: 'system-ui'; */
}
.container .mat-card {
  /* background-color: #f4f5f7; */
  background-color: white;
  padding: 25px;
}

#bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.mat-card-content {
  display: flex;
  flex-direction: row;
}

.left-content {
  width: 65%;
}
.right-content {
  width: 35%;
  padding-left: 50px;
  padding-top: 15px; 
}

.info-eleve {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-eleve span {
  margin-top: 4px;
}

.info-eleve img {
  border-radius: 50%;
  height: auto;
  width: 35px;
  margin-right: 10px;
  background-color: lightgray;
}

.header {
  display: flex;
  flex-direction: row;
}

.header .mat-icon {
  margin-top: 16px;
}

.header h3 {
  padding-left: 10px;
  font-weight: 500;
}

.content {
  max-width: 560px;
  margin-left: 35px;
}

.mat-card-title {
  font-size: 20px;
}

.header, .content, .mat-card-title {
  color: #172b4d;
}

.label {
  color: gray;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.note, .matiere, .remarque {
  background-color: rgba(9,30,66,.08);
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 2px;
}

.value {
  color: #97a0af;
  margin-right: 10px;
  text-align: right;
}

.note .value {
  font-size: 26px;
}

.remarque-content {
  min-height: 100px;
  max-height: 100px;
  overflow-y: auto;
  background-color: #f4f5f7;
}
