<div>
    <mat-toolbar>
        <mat-toolbar-row>            
            <h4>Liste des assignments</h4>
            <div class="view-switcher">
                <span class="current-view-text">{{ currentView }}</span>
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon aria-hidden="false" aria-label="view icon">view_module</mat-icon>
                    <!-- Changer de vue -->
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="simpleList()">Liste simple</button>
                    <button mat-menu-item (click)="tabbedList()">Liste avec onglet</button>
                    <button mat-menu-item (click)="draggableList()">Liste avec element deplacable</button>
                </mat-menu>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <app-tabbed-assignment-list *ngIf="tabbedListView" ></app-tabbed-assignment-list>
    <app-simple-assignment-list *ngIf="simpleListView" ></app-simple-assignment-list>
    <app-draggable-assignment-list *ngIf="draggableListView"></app-draggable-assignment-list>
    <!-- <app-simple-assignment-list></app-simple-assignment-list> -->
</div>