.container {
  display: flex;
  flex-direction: column;
}

.ajouterBtn {
  align-self: flex-end;
}

.tp-toolbar {
  min-height: 50px;
}

.tp-toolbar-row {
  height: 50px;
  box-shadow: 0 0 3px 0 #c3c3c3;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 25px;
  background-color: white;
}

.tp-side-nav {
  width: 200px;
  position: absolute;
}

body {
  margin: 0;
}

.item-row{
  display: flex;
  flex-direction: row;
}


.mat-nav-list{
  display: flex;
  flex-direction: column;
}

span{
  font-family: Roboto, "Tahoma", sans-serif;
}

.item-row {
  /* color: var(--cg-blue); */
  display: inline;
}

.mat-list-item {
  color: var(--cg-blue);
}

.mat-list-item:hover, .mat-list-item.active {
  color: var(--bitter-sweet);
}

.progression-container {
  width: 100%;
  height: 100%;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.progression {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.progression .handle {
  cursor: move;
  color: #ccc;
  position: absolute;
  top: 10px;
  right: 10px;
}

.progression mat-progress-bar {
  height: 18px;
  border-radius: 5px;
}

.progress-description {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
