.container {
  display: flex;
  flex-direction: column;
}

.ajouterBtn {
  align-self: flex-end;
}

.tp-toolbar {
  min-height: 50px;
}

.tp-toolbar-row {
  height: 50px;
  box-shadow: 0 0 3px 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 25px;
  background-color: white;
}

.tp-side-nav {
  width: 200px;
  position: absolute;
}

body {
  margin: 0;
  background-color: red;
}