<mat-toolbar class="tp-toolbar">
  <mat-toolbar-row class="tp-toolbar-row">
    <img src="../../assets/images/Capture.PNG" style="height: inherit">
    <!--<span class="toolbar-spacer"></span>-->
    <button mat-button (click)="logout()">
      <mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav opened mode="side" class="tp-side-nav">
    <mat-nav-list >
      <a mat-list-item  routerLinkActive #rla="routerLinkActive" [ngStyle]="rla.isActive && {'color': 'brown'}"   [routerLink]="'/assignments'">
      
        <div class="item-row">
          <mat-icon aria-hidden="false" aria-label="Example home icon" style="margin-right: 5px;
          line-height: 17px;"> home </mat-icon>
          <span>Assignments</span>
        </div>
      </a>

      <a mat-list-item routerLinkActive #rlab="routerLinkActive" [ngStyle]="rlab.isActive && {'color': 'brown'}"  [routerLink]="'/home'"> 
        <div class="item-row">
          <mat-icon aria-hidden="false" aria-label="Example home icon" style="margin-right: 5px;
          line-height: 17px;"> group </mat-icon>
          <span>Eleves</span>
        </div>
      </a>

      <a mat-list-item [routerLink]="'/'"> 
        <div class="item-row">
          <mat-icon aria-hidden="false" aria-label="Example home icon" style="margin-right: 5px;
          line-height: 17px;"> group </mat-icon>
          <span>Professeur</span>
        </div>
      </a>

      <a mat-list-item [routerLink]="'/'"> 
        <div class="item-row">
          <mat-icon aria-hidden="false" aria-label="Example home icon" style="margin-right: 5px;
          line-height: 17px;"> insert_chart</mat-icon>
          <span class="title">Tableau de bord</span>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <!-- <app-assignment-list></app-assignment-list> -->
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <app-assignment-list></app-assignment-list> -->


<!-- <main class="container">
  <a routerLink="/add" class="ajouterBtn">
    <button mat-flat-button color="accent">
      Ajouter un assignment
    </button>
    
  </a>
  <h1>Liste des assignments</h1>
  <mat-divider></mat-divider>
  <nav>
    <button mat-raised-button color="primary" (click)="premierePage()">
      Première
    </button>
    <button mat-raised-button color="primary" [disabled]="!hasPrevPage" (click)="pagePrecedente()">
      Prev
    </button>
    <button mat-raised-button color="primary" [disabled]="!hasNextPage" (click)="pageSuivante()">
      Suiv
    </button>
    <button mat-raised-button color="primary" (click)="dernierePage()">
      Dernière
    </button>
  </nav>

  <mat-list *ngFor="let a of assignments">
    <nav>
      <a routerLink="/assignment/{{a.id}}">
        <h3 mat-subheader>{{a.dateDeRendu | date}}</h3>
        <mat-list-item>
          <mat-divider></mat-divider>

          <p *ngIf="a.rendu; else nonsoumis" appRendu>
            {{a.nom}}, rendu par l'élève.
          </p>
          <ng-template #nonsoumis>
            <p appNonRendu>
              {{a.nom}}, non encore rendu par l'élève.
            </p>
          </ng-template>

        </mat-list-item>
      </a>
    </nav>
  </mat-list>
</main> -->