<mat-toolbar class="tp-toolbar">
  <mat-toolbar-row class="tp-toolbar-row">
    <img src="../../assets/images/Capture.PNG" style="height: inherit">
    <!--<span class="toolbar-spacer"></span>-->
    <button mat-button (click)="logout()">
      <mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container style="min-height: 95vh;">
  <mat-sidenav opened mode="side" class="tp-side-nav">
    <mat-nav-list >
      <a mat-list-item  routerLinkActive #rla="routerLinkActive" [ngStyle]="rla.isActive && {'color': 'brown'}"   [routerLink]="'/assignments'">
      
        <div class="item-row">
          <mat-icon aria-hidden="false" aria-label="Example home icon" style="margin-right: 5px;
          line-height: 17px;"> home </mat-icon>
          <span>Assignments</span>
        </div>
      </a>

      <a mat-list-item routerLinkActive #rlab="routerLinkActive" [ngStyle]="rlab.isActive && {'color': 'brown'}"  [routerLink]="'/assignments/eleves'"> 
        <div class="item-row">
          <mat-icon aria-hidden="false" aria-label="Example home icon" style="margin-right: 5px;
          line-height: 17px;"> group </mat-icon>
          <span>Eleves</span>
        </div>
      </a>

      <a mat-list-item routerLinkActive #rlac="routerLinkActive" [ngStyle]="rlac.isActive && {'color': 'brown'}" [routerLink]="'/assignments/professeurs'"> 
        <div class="item-row">
          <mat-icon aria-hidden="false" aria-label="Example home icon" style="margin-right: 5px;
          line-height: 17px;"> group </mat-icon>
          <span>Professeur</span>
        </div>
      </a>

      <a mat-list-item [routerLink]="'/'"> 
        <div class="item-row">
          <mat-icon aria-hidden="false" aria-label="Example home icon" style="margin-right: 5px;
          line-height: 17px;"> insert_chart</mat-icon>
          <span class="title">Tableau de bord</span>
        </div>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <mat-list-item>
        <button mat-button>Peupler BD</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button>Generer Professeurs</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button>Generer Eleves</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <!-- <app-assignment-list></app-assignment-list> -->
  </mat-sidenav-content>
</mat-sidenav-container>
