
<mat-toolbar class="tp-toolbar">
  <mat-toolbar-row class="tp-toolbar-row">
    <img src="../../assets/images/Capture.PNG" style="height: inherit">
    <!--<span class="toolbar-spacer"></span>-->
    <button mat-button (click)="logout()">
      <mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container style="min-height: 95vh;">
  <mat-sidenav opened mode="side" class="tp-side-nav">
    <mat-nav-list >
      <a mat-list-item  routerLinkActive #rla="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" [ngStyle]="rla.isActive && {'color': 'brown'}"   [routerLink]="'/assignments'">
      
        <div class="item-row">
          <mat-icon aria-hidden="false" aria-label="Example home icon" style="margin-right: 5px;
          line-height: 17px;"> home </mat-icon>
          <span>Assignments</span>
        </div>
      </a>

      <a mat-list-item routerLinkActive #rlab="routerLinkActive" [routerLinkActiveOptions]="{exact: true}"  [ngStyle]="rlab.isActive && {'color': 'brown'}"  [routerLink]="'/assignments/eleves'"> 
        <div class="item-row">
          <mat-icon aria-hidden="false" aria-label="Example home icon" style="margin-right: 5px;
          line-height: 17px;"> group </mat-icon>
          <span>Eleves</span>
        </div>
      </a>

      <a mat-list-item routerLinkActive #rlac="routerLinkActive" [routerLinkActiveOptions]="{exact: true}"  [ngStyle]="rlac.isActive && {'color': 'brown'}" [routerLink]="'/assignments/professeurs'"> 
        <div class="item-row">
          <mat-icon aria-hidden="false" aria-label="Example home icon" style="margin-right: 5px;
          line-height: 17px;"> group </mat-icon>
          <span>Professeur</span>
        </div>
      </a>

      <a mat-list-item routerLinkActive #rlat="routerLinkActive" [routerLinkActiveOptions]="{exact: true}"  [ngStyle]="rlat.isActive && {'color': 'brown'}" [routerLink]="'/assignments/dashboard'"> 
        <div class="item-row">
          <mat-icon aria-hidden="false" aria-label="Example home icon" style="margin-right: 5px;
          line-height: 17px;"> insert_chart</mat-icon>
          <span class="title">Tableau de bord</span>
        </div>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <mat-list-item>
        <button mat-button (click)="peuplerBDAvecProgressBar()" >Peupler BD</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="genererProfesseurs()" >Generer Professeurs</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="genererEleves()" >Generer Eleves</button>
      </mat-list-item> 
      <mat-list-item>
        <button mat-button (click)="genererMatieres()" >Generer Matieres</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <!-- <app-assignment-list></app-assignment-list> -->
    
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="progression-container" *ngIf="showProgression">
  <div class="progression" cdkDragBoundary=".progression-container" cdkDrag>
      <mat-card>
        <div class="handle" cdkDragHandle>
          <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </div>
        <mat-card-title>
          <p>Peuplement de la base de donnée ({{ progression }}/{{ progressionMax }})</p>
        </mat-card-title>
        <mat-card-content>
          <mat-progress-bar
            class="example-margin"
            [color]="'primary'"
            [mode]="'determinate'"
            [value]="tauxProgression">
          </mat-progress-bar>
        </mat-card-content>
        <mat-card-footer>&nbsp;</mat-card-footer>
      </mat-card>
     
    </div>
  </div>



 