<div class="assignments-container">
    <ng-container *ngIf="professeursAssignments" >
        <div 
            *ngFor="let professeurAssignments of professeursAssignments" 
            class="professor-assignments">
            <app-assignments-group 
                [assignments]="professeurAssignments.assignments" 
                [label]="professeurAssignments.label">
                <!-- <a href="" (click)="console.log('cio')">
                    <mat-icon>
                        compare_arrows    
                    </mat-icon>
                </a> -->
            </app-assignments-group>
        </div>
    </ng-container>
</div>