<app-eleve-assignments *ngIf="isEleve"></app-eleve-assignments>
<div style="padding: 0 10px; " >
    <app-professeur-assignment *ngIf="isProf"></app-professeur-assignment>
</div>
<mat-card 
    *ngIf="isAdmin"
    class="card-list-assignments">
    <app-tool-bar [title]="'Liste des assignments'">
        <span class="current-view-text">{{ currentView }}</span>
        <button mat-button [matMenuTriggerFor]="menu_">
            <mat-icon aria-hidden="false">more_vert</mat-icon>
        </button>
        <mat-menu #menu_="matMenu">
            <button mat-menu-item (click)="onClickAdd()">
                <mat-icon aria-hidden="false">add</mat-icon>
                Ajouter
            </button>
            <button mat-menu-item [matMenuTriggerFor]="view">
                <mat-icon aria-hidden="false" aria-label="view icon">view_module</mat-icon>
                Changer la disposition
            </button>
        </mat-menu>
        <mat-menu #view="matMenu">
            <button mat-menu-item (click)="simpleList()">Liste simple</button>
            <button mat-menu-item (click)="tabbedList()">Liste avec onglet</button>
            <button mat-menu-item (click)="draggableList()">Liste avec element deplacable</button>
        </mat-menu>
    </app-tool-bar>
    <app-tabbed-assignment-list *ngIf="tabbedListView"></app-tabbed-assignment-list>
    <app-simple-assignment-list *ngIf="simpleListView"></app-simple-assignment-list>
    <app-draggable-assignment-list *ngIf="draggableListView"></app-draggable-assignment-list>
    <!-- <app-simple-assignment-list></app-simple-assignment-list> -->
</mat-card>