/* .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.mat-toolbar-row {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 2px 0;
}

.current-view-text {
    font-size: 14px;
}

.view-switcher {
    line-height: 62px;
    display: flex;
    flex-direction: row;
}

.add-action {
    padding: 0;
    margin-left: -20px;
    margin-right: -20px;
}

.menu-link, 
.menu-link:hover {
    text-decoration: none;
    color: black;
}

.menu-link {
    margin: 10px;
    padding-left: 10px;
}