<!-- <app-modal [title]="'Title'"></app-modal> -->
<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Rendu {{ renduCharge }}">
        <app-assignment-with-infinite-scroll (assignmentsDocs)="getDocsRendu($event)" [stateFilter]="'rendu'" ></app-assignment-with-infinite-scroll>
    </mat-tab>
    <mat-tab label="Non rendu {{ nonRenduCharge }}">
        <ng-template matTabContent>
            <app-assignment-with-infinite-scroll (assignmentsDocs)="getDocsNonRendu($event)" [stateFilter]="'nonrendu'" ></app-assignment-with-infinite-scroll>
        </ng-template>
        <!-- <app-assignment-card-list [assignments]="assignmentsNonRendu" ></app-assignment-card-list> -->
    </mat-tab>
    <mat-form-field>
        <label>Recherche</label>
        <input matInput/>
    </mat-form-field>
</mat-tab-group>