<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Rendu">
        <app-assignment-with-infinite-scroll [stateFilter]="'rendu'" ></app-assignment-with-infinite-scroll>
    </mat-tab>
    <mat-tab label="Non rendu">
        <ng-template matTabContent>
            <app-assignment-with-infinite-scroll [stateFilter]="'nonrendu'" ></app-assignment-with-infinite-scroll>
        </ng-template>
        <!-- <app-assignment-card-list [assignments]="assignmentsNonRendu" ></app-assignment-card-list> -->
    </mat-tab>
</mat-tab-group>