
<!--<h1>
  <nav>
    <a routerLink="/home">{{title}}</a>
  </nav>
</h1>
<mat-slide-toggle (click)="login()">Log me!</mat-slide-toggle>
<button mat-stroked-button color="primary" (click)="peuplerBD()">PeuplerBD</button> -->
<!-- <button mat-stroked-button color="primary" (click)="importerEleve()">Importer eleves</button> -->

<!-- Indique qu'on affichera le composant qui correspond à l'URL courant -->

<mat-toolbar>
  <mat-toolbar-row>
    <span>Assignments</span>
    <span class="toolbar-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav opened mode="side" class="side-nav">
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/'"> Assignments </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
