<main class="container">
    <!-- <nav>
      <button mat-raised-button color="primary" (click)="premierePage()">
        Première
      </button>
      <button mat-raised-button color="primary" [disabled]="!hasPrevPage" (click)="pagePrecedente()">
        Prev
      </button>
      <button mat-raised-button color="primary" [disabled]="!hasNextPage" (click)="pageSuivante()">
        Suiv
      </button>
      <button mat-raised-button color="primary" (click)="dernierePage()">
        Dernière
      </button>
    </nav> -->
    <app-assignment-with-infinite-scroll></app-assignment-with-infinite-scroll>
  </main>
  