<mat-card class="card-matiere">
    <mat-toolbar>
        <mat-toolbar-row>
            <h4 style="text-decoration: underline;">Liste des matieres</h4>
        </mat-toolbar-row>
    </mat-toolbar>
    <div>
        <table mat-table [dataSource]="matieres">
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef> Illustration</th>
                <td mat-cell *matCellDef="let element">
                    <div class="image-container">
                        <img src="{{element.image}}">
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="matiere">
                <th mat-header-cell *matHeaderCellDef> Matière </th>
                <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
            </ng-container>

            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef> Details </th>
                <td mat-cell *matCellDef="let element"><a routerLink="/assignments/matieres/cours" class="back_link">Voir cours</a></td>
            </ng-container>
           
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [length]="totalDocs" [pageSize]="4" [hidePageSize]=true (page)="pageEvents($event)">
        </mat-paginator>
    </div>

</mat-card>