.card-matiere{
    margin:10px;
}
table {
    width: 100%;
}

.mat-toolbar-row {
    box-shadow: 1px 1px 2px #ccc;
}

.image-container {
    max-width: 100px;
    min-height: 100px;
    height: auto;
}

.mat-cell img {
    width: 100px;
    height: auto;
}