<!-- <button mat-button [matMenuTriggerFor]="menu"> -->
<div [matMenuTriggerFor]="menu" class="user-menu">
    <div class="user-image">
        <img *ngIf="user.user_info" src="{{ user.user_info.image }}"/>
        <span *ngIf="!user.user_info">{{ defaultImage }}</span>
    </div>
    <span>{{ user.user_info ? user.user_info.prenom : user.name }}</span>
    <mat-icon>
        arrow_drop_down
    </mat-icon>
</div>
<!-- </button> -->
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Deconnexion</span>
    </button>
</mat-menu>