.user-image {
    width: 40px;
    height: 40px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-right: 10px;
    justify-content: center;
}

.user-image img {
    height: 30px;
    width: auto;
}

.user-image span {
    font-weight: 600;
    margin-top: 5px;
}

.mat-icon {
    font-size: 20px;
    margin-top: 8px;
    margin-left: 2px;
}

.user-menu {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-menu span {
    /* padding-left: 10px; */
    margin-top: 0;
    font-size: 14px;
}
