/* You can add global styles to this file, and also import other style files */
@import '~primeng/resources/primeng.min.css';
html, body { height: 100%; }

body {
    margin: 0px; 
}
::ng-deep div, h4, h2, h3, span, h2, p {
    font-family: system-ui;
}
body .dashboardDateFilter {
    width: 100%;
    margin-top: 15px;
}

body .dashboardDateFilter>input{
    width: 100%;
}


body .filterButton {
    margin : 250px 0px 20px 0px ;
    background-color:#689F38;
}

body .filterButton.ui-button.ui-widget {
    width: 100%;
}

body .deleteFilterButton{
    margin : 20px 0px 20px 0px ;
    background-color:#D32F2F;
}

body .deleteFilterButton.ui-button.ui-widget {
    width: 100%;
}

div[_primary-color], h3[_primary-color], a[_primary-color] {
    color: var(--peach-puff);
}

a[_primary-color]:hover {
    color: var(--peach-puff);
}


/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f2f2f2; 
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(199, 199, 199); 
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(146, 146, 146); 
    border-radius: 4px;
}

:root {
    --peach-puff: #fed9b7;
    --bitter-sweet: #f17d74;
    --cg-blue: #0081a7;
    --verdi-gris: 00afb9;
}