/* You can add global styles to this file, and also import other style files */
@import '~primeng/resources/primeng.min.css';
html, body { height: 100%; }

body { margin: 0px; }

body .dashboardDateFilter {
    width: 100%;
    margin-top: 15px;
}

body .dashboardDateFilter>input{
    width: 100%;
}


body .filterButton {
    margin : 250px 0px 20px 0px ;
    background-color:#689F38;
}

body .filterButton.ui-button.ui-widget {
    width: 100%;
}

body .deleteFilterButton{
    margin : 20px 0px 20px 0px ;
    background-color:#D32F2F;
}

body .deleteFilterButton.ui-button.ui-widget {
    width: 100%;
}

