<main class="container assignment-container">
    <cdk-virtual-scroll-viewport #scroller itemSize="75" class="assignment-viewport">
        <mat-list *cdkVirtualFor="let a of assignments">
            <!-- <mat-list-item  class="assignment-item"> -->
                <a routerLink="/assignments/detail/{{ a.id }}" style="text-decoration: none;">
                    <app-assignment-card class="assignment-item" [assignment]="a"></app-assignment-card>
                </a>
            <!-- </mat-list-item> -->
        </mat-list>
    </cdk-virtual-scroll-viewport>
</main>